.category-name {
  height: 80px;   
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.recipes-container {
  width: var(--view-width);
  max-width: var(--max-width);
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  background-color: rgba(240, 240, 240, 0.685);
}

.recp-pic-container {
  margin: 4px;
  
  align-items: center;
  justify-content: center;
}
    
.recp-picture {
  height: 200px;
  width: 300px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  
  background-color:rgba(240, 240, 240, 0.685);
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.recipe-name {
  font-size: 1.25rem;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}