.panel-container { 
  width: 1200px; 
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
  background-color: rgba(240, 240, 240, 0.685);  
}

.title {  
  height: 80px;   
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.key-recipe-container {
  height: 500px;   
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.recipe-pic-container {
  height: 100px;
  margin: 4px;
  display: flex; 
}

.recipe-card {
  width: 18rem; 
  height: 25rem;
}
  
.recipe-pic {
  height: 175px;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.recipe-body { 
  justify-content: center;
  align-items: center;
}

.recipe-body-text {
  height: 100px;
  display:flex;
  overflow:auto;
}


