.panel-container { 
  width: 1200px; 
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
  background-color: rgba(240, 240, 240, 0.685);
  
}

.title {  
  height: 80px;   
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.key-recipe-container {
  height: 600px;   
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.recipe-pic-container {
  height: 100px;
  margin: 4px;
  display: flex; 
}
  
.recipe-pic {
  height: 200px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color:rgba(240, 240, 240, 0.685);;
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

