.carousel-container {
  width: 1200px;
  max-width: calc(100% - 20px);
  height: 250px;
  margin: 0 auto;
  padding: 0 10px;
  
}

.pic-container-hero {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.recipe-pic-hero {
  height: 200px;
  width: 360px;
  border-radius: 10px; 
  cursor: pointer;
  user-select: none;
}